.offers {
  display: flex;
  background-size: cover;
  padding: 20px;
  height: 50vh;

}
.text-container {
    marginLeft: '500px';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.description {
    flex-direction: row;
    justify-content: flex-start;
}